{{#if modalFirstLogin}}
  {{#panel-onezone title="onezone.messages.firstLogin.title" useI18n=true}}
    <ol>
      <li>{{t 'onezone.messages.firstLogin.p1'}}</li>
      <li>{{t 'onezone.messages.firstLogin.p2'}}</li>
      <li>{{t 'onezone.messages.firstLogin.p3'}}</li>
    </ol>
  {{/panel-onezone}}
{{/if}}

{{#if modalGetSupport}}
  {{#panel-onezone title="onezone.messages.getSupport.title" useI18n=true}}
    {{t 'onezone.messages.getSupport.text'}}
  {{/panel-onezone}}
{{/if}}

{{#if modalNoneProviders}}
  {{#panel-onezone title="onezone.messages.noneProviders.title" useI18n=true type="alert"}}
    {{t 'onezone.messages.noneProviders.text'}}
  {{/panel-onezone}}
{{/if}}
