<div class="brand">
  {{#link-to 'home'}}
      <div class="logo"></div>
  {{/link-to}}
</div>

<div class="accordion-container">
  {{!-- TODO: use bs-accordion (Ember component) --}}
  {{!-- add class "collapse in" to uncollapse by default --}}
    <div class="accordion main-accordion">
        <div class="accordion-group main-accordion-group">
            <div class="accordion-heading main-accordion-heading">
                <a class="accordion-toggle main-accordion-toggle"
                   data-toggle="collapse" href="#collapse-accounts">
                    <h1>{{t 'onezone.sidebar.connectHead'}}</h1>

                    <div class="arrow-down"></div>
                </a>
            </div>
            <div id="collapse-accounts"
                 class="accordion-body main-accordion-body collapse">
                <div class="accordion-inner main-accordion-inner">
                  {{accounts-list authorizers=authorizers}}
                </div>
            </div>
        </div>
        <div class="accordion-group main-accordion-group">
            <div class="accordion-heading main-accordion-heading">
                <a class="accordion-toggle main-accordion-toggle"
                   data-toggle="collapse" href="#collapse-alias">
                    <h1>{{t 'onezone.sidebar.aliasHead'}}</h1>
                    <div class="arrow-down"></div>
                </a>
            </div>
            <!-- TODO collapse in -->
            <div id="collapse-alias"
                 class="accordion-body main-accordion-body collapse">
                <div class="accordion-inner main-accordion-inner">
                  {{alias-panel}}
                </div>
            </div>
        </div>
        <div class="accordion-group main-accordion-group">
            <div class="accordion-heading main-accordion-heading">
                <a class="accordion-toggle main-accordion-toggle"
                   data-toggle="collapse" href="#collapse-spaces">
                    <h1>{{t 'onezone.sidebar.manageSpacesHead'}}</h1>

                    <div class="arrow-down"></div>
                </a>
            </div>
            <div id="collapse-spaces"
                 class="accordion-body main-accordion-body collapse">
                <div class="accordion-inner main-accordion-inner">
                  {{spaces-accordion spaces=spaces}}
                </div>
            </div>
        </div>
        <div class="accordion-group main-accordion-group">
            <div class="accordion-heading main-accordion-heading">
                <a class="accordion-toggle main-accordion-toggle"
                   data-toggle="collapse" href="#collapse-tokens">
                    <h1>{{t 'onezone.sidebar.tokensHead'}}</h1>

                    <div class="arrow-down"></div>
                </a>
            </div>
            <!-- TODO collapse in -->
            <div id="collapse-tokens"
                 class="accordion-body main-accordion-body collapse">
                <div class="accordion-inner main-accordion-inner">
                  {{tokens-list tokens=tokens}}
                </div>
            </div>
        </div>
        <div class="accordion-group main-accordion-group">
            <div class="accordion-heading main-accordion-heading">
                <a class="accordion-toggle main-accordion-toggle"
                   data-toggle="collapse" href="#collapse-providers">
                    <h1>{{t 'onezone.sidebar.filesHead'}}</h1>

                    <div class="arrow-down"></div>
                </a>
            </div>
            <!-- TODO collapse in -->
            <div id="collapse-providers"
                 class="accordion-body main-accordion-body collapse">
                <div class="accordion-inner main-accordion-inner">
                  {{providers-accordion providers=providers}}
                </div>
            </div>
        </div>
    </div>
</div>
