<!-- TODO: class list-group-item -->
<div class="accordion-group secondary-accordion-group providers-accordion-group">
  <div class="item">
    <div class="accordion-heading secondary-accordion-heading providers-accordion-heading">
      <a class="accordion-toggle secondary-accordion-toggle providers-accordion-toggle">
        <div class="go-to-provider" {{action "goToProvider"}}>
          <div class="secondary-icon provider-icon">
            {{one-icon icon=iconName color=iconColor}}
          </div>
          <div class="secondary-header provider-header stretch-hack">
            {{trim-string provider.name 24}}
          </div>
        </div>
        <div class="star-toggle" {{action "toggleDefault"}}>
          {{#if provider.isDefault}}
            {{one-icon icon="home"}}
          {{else}}
            {{!-- class name is star-empty because of historical reasons... --}}
            <div class="star-empty">
              {{one-icon icon="home-outline"}}
            </div>
          {{/if}}
        </div>
        <div class="spaces-count" data-toggle="collapse" href="#{{collapseId}}">
          <div class="icon">
            {{one-icon icon="space"}}
          </div>
          <div class="label">
            {{spaces.length}}
          </div>
        </div>
      </a>
    </div>
    <div id="{{collapseId}}" class="accordion-body secondary-accordion-body providers-accordion-body sidebar-list collapse">
      <div class="accordion-inner">
        <ul>
          {{#each spacesSorted as |s|}}
            <li>
              <div class="icon">
                {{one-icon icon=(if s.isDefault "space-home" "space")}}
              </div>
              <div class="label">
                {{trim-string s.name 24}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
