<div class="accordion secondary-accordion providers-accordion">
  {{#if noProviders}}
    <div class="sidebar-row space-add-text-row">
      {{t 'onezone.providersAccordion.noProviders'}}
    </div>
  {{else}}
    <div class="sidebar-row space-add-text-row">
      {{t 'onezone.providersAccordion.chooseProvider'}}
    </div>

    {{!-- TODO: implement search --}}
    {{!-- <div class="sidebar-row">
      <div class="input-group c-search">
        <input type="text" class="form-control" id="providers-list-search">
        <span class="input-group-btn">
          <!-- TODO: btn-search class -->
          <button class="btn btn-search" type="button">
            {{one-icon icon="search"}}
          </button>
        </span>
      </div>
    </div> --}}

    <!-- TODO: class list-group -->
    <div class="list-group" id="providers-list">
      {{#each providers as |p|}}
        {{providers-accordion-item provider=p selectProvider='selectProvider'}}
      {{/each}}
    </div>
  {{/if}}
</div>
