<div class="drop-panel">
  <div class="drop-title-bar">
    <div class="title-label">
      {{t (if provider.isWorking "onezone.providerPlaceDrop.operable" "onezone.providerPlaceDrop.inoperable")}}
    </div>
    <div class="status-circle"></div>
  </div>
  <div class="drop-body">
    <div class="provider-label">
      {{trim-string provider.name 20}}
    </div>
    {{!-- TODO: location name - get it from Google Maps API --}}
    {{!-- <div class="provider-location">
      {{provider.location}}
    </div> --}}
    <ul>
      {{#each spacesSorted as |space|}}
        <li>
          <div class="space-icon">
            {{one-icon icon=(if space.isDefault "space-default" "space")}}
          </div>
          <div class="space-label">
            {{trim-string space.name 20}}
          </div>
          {{!-- TODO: space capacity --}}
          {{!-- <div class="space-size">
            {{space.capacity}}
          </div> --}}
        </li>
      {{/each}}
    </ul>
    {{#if provider.isWorking}}
      <hr>
      <a href="#" class="btn btn-small btn-pale-green" {{action 'goToFiles'}}>
        {{t "onezone.providerPlaceDrop.goToFiles"}}
      </a>
    {{/if}}
  </div>
</div>
