<!-- @TODO automatic layout when number of providers changes -->
{{#if supportedAuthorizers.plgrid}}
  <div class="col-xs-12 col-sm-2 col-centered xs-center">
    {{social-box type='plgrid' action='authenticate'}}
  </div>
{{/if}}
{{#if supportedAuthorizers.dropbox}}
  <div class="col-xs-6 col-sm-2 col-centered xs-right">
    {{social-box type='dropbox' action='authenticate'}}
  </div>
{{/if}}
{{#if supportedAuthorizers.github}}
  <div class="col-xs-6 col-sm-2 col-centered xs-left">
    {{social-box type='github' action='authenticate'}}
  </div>
{{/if}}
{{#if supportedAuthorizers.facebook}}
  <div class="col-xs-6 col-sm-2 col-centered xs-right">
    {{social-box type='facebook' action='authenticate'}}
  </div>
{{/if}}
{{#if supportedAuthorizers.google}}
  <div class="col-xs-6 col-sm-2 col-centered xs-left">
    {{social-box type='google' action='authenticate'}}
  </div>
{{/if}}