{{#if hasLink}}
  <a href="{{link}}" class="login-icon-box {{type}}">
    {{one-icon icon=iconName}}
    <div class="loader glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
  </a>
{{else}}
  <a {{action 'authenticate'}} class="login-icon-box {{type}}">
    {{one-icon icon=iconName}}
    <div class="loader glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
  </a>
{{/if}}
