<div class="accordion-group spaces-accordion-group">
  <div class="accordion-heading spaces-accordion-heading">
    <a class="accordion-toggle spaces-accordion-toggle" data-toggle="collapse" href="#collapse-space-{{space.id}}">
      <div class="space-icon">
        {{#if space.isDefault}}
          {{one-icon icon='space-default'}}
        {{else}}
          {{one-icon icon='space'}}
        {{/if}}
      </div>
      <div class="space-header">
        {{space.name}}
      </div>
      <div class="providers-count">
        <div class="icon">
          {{one-icon icon="provider"}}
        </div>
        <div class="label">
          {{space.providers.length}}
        </div>
      </div>
    </a>
  </div>
  <div id="collapse-space-{{space.id}}" class="accordion-body spaces-accordion-body sidebar-list collapse">
    <div class="accordion-inner">
      <ul>
        {{#each space.providers as |p|}}
          <li>
            <div class="icon">
              {{#if p.isDefault}}
                {{one-icon icon="provider-default"}}
              {{else}}
                {{one-icon icon="provider"}}
              {{/if}}
            </div>
            <div class="label">
              {{p.name}}
            </div>
          </li>
        {{/each}}
        <li class='get-support'>
          <div class="icon">
            {{one-icon}}
            {{!-- {{one-icon icon="add"}} --}}
          </div>
          <div class="label">
            {{t 'onezone.spacesAccordionItem.getSupport'}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
