<div class="accordion-group secondary-accordion-group spaces-accordion-group">
  <div class="accordion-heading secondary-accordion-heading spaces-accordion-heading">
    <a class="accordion-toggle secondary-accordion-toggle spaces-accordion-toggle">
      <div class="clickable" data-toggle="collapse" href="#collapse-space-{{space.id}}">
        <div class="secondary-icon space-icon">
          {{one-icon icon=(if space.isDefault "space-home" "space")}}
        </div>
        <div class="secondary-header space-header stretch-hack">
          {{trim-string space.name 24}}
        </div>
      </div>
      <div class="star-toggle" {{action "toggleDefault"}}>
        {{#if space.isDefault}}
          {{one-icon icon="home"}}
        {{else}}
          <div class="star-empty">
            {{one-icon icon="home-outline"}}
          </div>
        {{/if}}
      </div>
      <div class="providers-count clickable" data-toggle="collapse"
        href="#collapse-space-{{space.id}}">
        <div class="icon">
          {{one-icon icon="provider"}}
        </div>
        <div class="label">
          {{providers.length}}
        </div>
      </div>
    </a>
  </div>
  <div id="collapse-space-{{space.id}}"
    class="accordion-body secondary-accordion-body spaces-accordion-body sidebar-list collapse">
    <div class="accordion-inner">
      <ul>
        {{#each providersSorted as |p|}}
          <li {{action "goToProvider" p}} class="clickable">
            <div class="icon">
              {{one-icon icon=(if p.isDefault "provider-home" "provider")}}
            </div>
            <div class="label">
              {{trim-string p.name 24}}
            </div>
          </li>
        {{/each}}
        <li class='get-support'>
          {{!-- TODO: create some dropdown component, which does not close on click --}}
          {{!-- TODO: like this: http://stackoverflow.com/questions/25089297/twitter-bootstrap-avoid-dropdown-menu-close-on-click-inside --}}
          <div class="dropdown side-dropdown">
            <a href="#" class="dropdown-toggle side-dropdown-toggle full-width clickable"
              data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false" {{action 'getNewSupportToken'}}>
              <div class="icon">
                {{one-icon icon="add"}}
              </div>
              <div class="label">
                {{t 'onezone.spacesAccordionItem.getSupport'}}
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right token-popup floater">
              {{!-- TODO: style/design --}}
              {{!-- TODO: loading icon --}}
              {{#if supportToken}}
                <div class="input-with-button">
                  {{input id=(concat "support-token-" (safe-element-id space.id)) value=supportToken readonly=true}}
                  {{#copy-button success='copySuccess' error='copyError'
                      clipboardTarget=(concat "#support-token-" (safe-element-id space.id)) class="btn btn-primary btn-right"}}
                    {{one-icon icon='copy'}}
                  {{/copy-button}}
                </div>
              {{else}}
                <div class="one-row">
                  <div class="loading-throbber inverted with-background"></div>
                  <div class="loading-label">
                    {{t 'common.fetchingToken'}}
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
