<div class="accordion secondary-accordion spaces-accordion">
  {{#each spaces as |s|}}
    {{spaces-accordion-item space=s}}
  {{/each}}

  {{!-- faking the accordion group... this should be separate class --}}
  <div class="accordion-group secondary-accordion-group spaces-accordion-group">
    <div class="accordion-heading secondary-accordion-heading spaces-accordion-heading">
      <a class="accordion-toggle secondary-accordion-toggle spaces-accordion-toggle create-new mouse-pointer"
        {{action 'startCreateNewSpace'}}>
        <div class="secondary-icon space-icon">
          {{one-icon icon='space-add'}}
        </div>
        <div class="secondary-header space-header stretch-hack">
          {{#if createNewSpaceEditing}}
            {{input enter='endCreateNewSpace'}}
          {{else}}
            {{t 'onezone.spacesAccordion.createNewSpace'}}
          {{/if}}
        </div>
      </a>
    </div>
  </div>

  <div class="sidebar-row space-add-text-row">
    {{t 'onezone.spacesAccordion.createNewSpaceText'}}
  </div>

  {{!-- TODO: read more button --}}
  {{!-- <div class="sidebar-row space-add-read-more-row">
    <a href="#" class="btn btn-large btn-blue">
      {{t 'onezone.spacesAccordion.readMore'}}
    </a>
  </div> --}}
</div>
