{{!-- TODO: this "emulates" accordion group like in spaces accordion item --}}
{{!-- TODO: but this is not an accordion --}}
{{!-- TODO: create other style class --}}
<div class="accordion-group secondary-accordion-group tokens-accordion-group">
  <div class="accordion-heading secondary-accordion-heading tokens-accordion-heading">
    <a class="accordion-toggle secondary-accordion-toggle tokens-accordion-toggle hover-parent">
      <div class="token-icon secondary-icon">
          {{one-icon icon='menu-token'}}
      </div>
      <div class="token-header stretch-hack">
        {{input value=token.id id=inputId}}
      </div>

      {{!-- <div class="select-button white-on-parent-hover" {{action "selectTokenText"}}> --}}
      {{#copy-button tagName='div' success='copySuccess' error='copyError'
        clipboardTarget=clipboardTarget class="select-button white-on-parent-hover"}}
        <div class="copy-icon">
          {{one-icon icon="copy"}}
        </div>
      {{/copy-button}}
      {{!-- </div> --}}
      <div class="trash-button white-on-parent-hover" {{action "remove"}}>
        <div class="remove-icon">
          {{one-icon icon="remove"}}
        </div>
      </div>
    </a>
  </div>
</div>
