<!-- TODO: put contents of sections into container-fluid with max-width to create dynamic margins-->
<div class="container-index">
  <div class="row-index row-atlas">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-left-atlas">
          {{!-- each div is a row here --}}
          <div>
            <p>
              <img class="logo" src="/assets/images/logo.svg" />
              <h1>{{t 'index.atlas.subtitle' tagName='h1'}}</h1>
              {{t 'index.atlas.text'}}
            </p>
          </div>
          <div class="row-get-started-button">
            {{#link-to 'home.get-started' class="btn btn-large btn-index"}}
              {{t 'index.atlas.getStarted'}}
            {{/link-to}}
          </div>
        </div>
        <div class="col-md-8">
          <img class="onedata-atlas" src="/assets/images/index/onedata-atlas.svg" />
        </div>
    {{!-- TODO: social icons --}}
      </div>
    </div>
  </div>

  <div class="row-index row-what-is">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-push-8">
          <h1>{{t 'index.whatIs.title'}}</h1>
          <p>
            {{t 'index.whatIs.text'}}
          </p>
        </div>
        <div class="col-md-8 col-md-pull-4">
          <img class="what-is-onedata" src="/assets/images/index/what-is-onedata.svg" />
        </div>
    {{!-- TODO: social icons --}}
      </div>
    </div>
  </div>

  <div class="row-index row-why">
    <div class="container">
      <h1>{{t 'index.why.title'}}</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-inner-why">
            <div class="image-box">
              <img class="why-virtualized" src="/assets/images/index/why-virtualized.svg" />
            </div>
            <h2>{{t 'index.why.virtualized.title'}}</h2>
            <p>
              {{t 'index.why.virtualized.text'}}
            </p>
          </div>
          <div class="col-md-3 col-sm-6 col-inner-why">
            <div class="image-box">
              <img class="why-performance" src="/assets/images/index/why-performance.svg" />
            </div>
            <h2>{{t 'index.why.performance.title'}}</h2>
            <p>
              {{t 'index.why.performance.text'}}
            </p>
          </div>
          <div class="col-md-3 col-sm-6 col-inner-why">
            <div class="image-box">
              <img class="why-infrastructure" src="/assets/images/index/why-infrastructure.svg" />
            </div>
            <h2>{{t 'index.why.infrastructure.title'}}</h2>
            <p>
              {{t 'index.why.infrastructure.text'}}
            </p>
          </div>
          <div class="col-md-3 col-sm-6 col-inner-why">
            <div class="image-box">
              <img class="why-opendata" src="/assets/images/index/why-opendata.svg" />
            </div>
            <h2>{{t 'index.why.opendata.title'}}</h2>
            <p>
              {{t 'index.why.opendata.text'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-index row-join">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h1>{{t 'index.join.title'}}</h1>
            </div>
            <div class="col-md-12 col-sm-6">
              <h2>{{t 'index.join.user.title'}}</h2>
              <p>{{t 'index.join.user.text'}}</p>
            </div>
            <div class="col-md-12 col-sm-6">
              <h2>{{t 'index.join.provider.title'}}</h2>
              <p>{{t 'index.join.provider.text'}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <img src="/assets/images/index/join-onedata-map.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="row-index row-for-researchers">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <h1>{{t 'index.forResearchers.title'}}</h1>
          <p>{{t 'index.forResearchers.text'}}</p>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <img src="assets/images/index/for-researchers.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="row-index row-who-supports">
    <div class="container">
      <h1>{{t 'index.whoSupports.title'}}</h1>
      {{owl-carousel}}
    </div>
  </div>
  <div class="row-index row-know-more">
    <div class="container">
      <h1>{{t 'index.knowMore.title'}}</h1>
      <div class="container-fluid login-buttons-container">
        {{!-- TODO: links --}}
        <div class="row row-centered">
          <div class="col-xs-6 text-right">
            {{social-box type='github' link='https://github.com/onedata'}}
          </div>
          <div class="col-xs-6 text-left">
            {{social-box type='facebook' link='https://www.facebook.com/onedataorg/'}}
          </div>
        </div>
      </div>
      <p>
        {{t 'index.knowMore.privacy'}}
        <span class="dot-separator"></span>
        {{t 'index.knowMore.tos'}}
        <span class="dot-separator"></span>
        {{t 'index.knowMore.copyright'}}
      </p>
    </div>
  </div>
</div>
