{{page-title (t 'login.title')}}

{{!-- TODO: i18n? --}}
<div class="container">
  <div class="row row-centered">
    <div class="col-xs-12 col-md-7 col-lg-5 col-centered zone">
      <div class="row">
        <div class="col-sm-12 col-md-4 zone-image">
          <div class="logo-indigo"></div>
        </div>
        <div class="hidden-xs hidden-sm col-md-2 zone-arrow"></div>
        <div class="col-sm-12 col-md-6 zone-label">
          <div class="zone-zone">
            zone
          </div>
          <div class="zone-company-name">
            {{#if model.zoneName}}
              {{model.zoneName}}
            {{else}}
              {{t 'login.unknownZoneName'}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container login-box-container">
  <div class="row row-centered">
    <div class="col-xs-9 col-centered login-box">
      <h1>{{t 'login.boxTitle'}}</h1>

      <h2>{{t 'login.boxSubtitle'}}</h2>

      <div class="container-fluid login-buttons-container">
        <div class="row row-centered">
          <div class="col-xs-11 col-centered">
            <div class="row row-centered">
              {{social-box-list}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
